# Build outputs (created by build.sh and the release workflow)
/Pf2eNpcMaker/
/DnD5eNpcMaker/
/Hero6eNpcMaker/
/Pf2eItemGenerator/
/Dnd5eItemGenerator/
/Pf2eNationsAndCitiesMaker/
/Pf2eCalendarTimeline/
*.zip
node_modules/
